
/* 
    Created on : 25/01/2021, 12:41:13 PM
    Author     : Alejandro Téllez
    Objective  : Creación de estilos CSS para usarse en el proyecto
*/

.titles {
    font-size: 30px;
    color: blue;
}

/* Para grid citas modal */
#grid-citas {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 300px;
  grid-template-rows: 50px 50px;
}

/* Para grid encabezados */
#grid-encabezados {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 1000px 500px;
  grid-template-rows: 40px;
}

/* Para grid normal */
#grid {
  display: grid;
  /* height: 100px; Para en caso de que sea fijo*/ 
  grid-template-columns: 1000px 500px;
  grid-template-rows: 30px;
}

/* Para grid grandes */
#grid-large {
  display: grid;
  height: 70%;
  width: 50%;
  display: grid;
  grid-template-columns: 500px 1000px; /* 2 columnas de 500px y */
  grid-template-rows: 400px;          /* una fila de 400px*/
}

/* Para grid historial */
#grid-historial {
  display: grid;
  height: 70%;
  width: 50%;
  display: grid;
  grid-template-columns: 300px 650px 549px; /* 3 columnas  y */
  grid-template-rows: 380px;        /* 1 fila*/
}
.table-fixed thead,
.table-fixed tfoot{
  width: 100%;
}

.table-fixed tbody {
  /*height: 400px; Para todos del mismo tamaño*/
  overflow-y: auto;
  width: 100%;
}


.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-striped,
.table-fixed tbody td,
.table-fixed thead > tr> th,
.table-fixed tfoot > tr> td{
  float: left;
  border-bottom-width: 0;
  
}

.container {  /* Para login */
    background-color: activeborder;  
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 25px;
    margin-top: 25px;
}

/*  ESTILOS DE BARRA LATERAL  */

